<!doctype html>
<html>
  <head>
    <title>Didasko</title>
    <link rel="stylesheet" href="static/bower_components/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="static/didasko.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a class="navbar-link" href="#intro">Intro</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="#">Code</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="#examples">Examples</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="#">More</a>
          </li>
        </ul>
      </div>
    </nav>
    <ul>
      <li>teach something</li>
      <li>learn something</li>
    </ul>
  </body>
</html>
